In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [1]:
import pandas as pd
import glob
import os

# Set the source folder path and the output file path
#source_folder = '/content/drive/MyDrive/3Cs/Outputs'
#output_file = '/content/drive/MyDrive/3Cs/merged_temperature_1961-1990.csv'

# Get all CSV file paths from the source folder
#all_files = glob.glob(os.path.join(source_folder, "*.csv"))

# Read and concatenate all CSV files
#df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)
df= pd.read_csv('/content/drive/MyDrive/3Cs/merged_temperature_1961-1990.csv')
# Save the merged DataFrame to a new CSV file
#df.to_csv(output_file, index=False)

#print("CSV files merged and saved to:", output_file)
print(df)

        max_temperature_2m_C_max  max_temperature_2m_C_mean  \
0                      25.790598                  25.636761
1                      25.056116                  24.929652
2                      26.936349                  26.871950
3                      25.859109                  25.763064
4                      28.815866                  28.705279
...                          ...                        ...
389155                 29.157404                  26.279231
389156                 30.215616                  27.645040
389157                 31.471841                  28.374442
389158                 31.058084                  27.994020
389159                 31.064066                  28.091677

        max_temperature_2m_C_min  min_temperature_2m_C_max  \
0                      25.241769                  7.128122
1                      24.604944                  7.973520
2                      26.706598                  8.715265
3                      25.516458                 11.447855
4                      28.421335                 13.469568
...                          ...                       ...
389155                 22.942560                 13.373712
389156                 24.538797                 11.815942
389157                 24.793222                  9.396616
389158                 24.454691                  7.867715
389159                 24.261331                  7.394861

        min_temperature_2m_C_mean  min_temperature_2m_C_min  Year  Month  \
0                        7.102391                  7.036325  1961      1
1                        7.959463                  7.953989  1961      2
2                        8.673110                  8.564874  1961      3
3                       11.319749                 10.990823  1961      4
4                       13.309290                 12.897760  1961      5
...                           ...                       ...   ...    ...
389155                  12.247930                 10.294611  1990      8
389156                  10.661619                  9.428979  1990      9
389157                   7.595113                  6.086252  1990     10
389158                   5.829707                  4.162637  1990     11
389159                   5.357097                  3.453455  1990     12

          Tehsil
0       Adigudom
1       Adigudom
2       Adigudom
3       Adigudom
4       Adigudom
...          ...
389155     Samre
389156     Samre
389157     Samre
389158     Samre
389159     Samre

[389160 rows x 9 columns]

In [2]:
import pandas as pd
import glob
import os

temp_2005= pd.read_csv('/content/drive/MyDrive/Temperature Data/ERA5/daily_max_2001_2005.csv')
print(temp_2005)

              date  temperature_2m_max  DHSCLUST  year
0       2001-01-01          296.524124       1.0  2001
1       2001-01-02          296.603348       1.0  2001
2       2001-01-03          296.310623       1.0  2001
3       2001-01-04          295.855881       1.0  2001
4       2001-01-05          295.360977       1.0  2001
...            ...                 ...       ...   ...
963595  2005-12-26          303.939377     540.0  2005
963596  2005-12-27          304.257431     540.0  2005
963597  2005-12-28          303.807373     540.0  2005
963598  2005-12-29          304.270325     540.0  2005
963599  2005-12-30          303.942047     540.0  2005

[963600 rows x 4 columns]

In [3]:
print(df)

        max_temperature_2m_C_max  max_temperature_2m_C_mean  \
0                      25.790598                  25.636761
1                      25.056116                  24.929652
2                      26.936349                  26.871950
3                      25.859109                  25.763064
4                      28.815866                  28.705279
...                          ...                        ...
389155                 29.157404                  26.279231
389156                 30.215616                  27.645040
389157                 31.471841                  28.374442
389158                 31.058084                  27.994020
389159                 31.064066                  28.091677

        max_temperature_2m_C_min  min_temperature_2m_C_max  \
0                      25.241769                  7.128122
1                      24.604944                  7.973520
2                      26.706598                  8.715265
3                      25.516458                 11.447855
4                      28.421335                 13.469568
...                          ...                       ...
389155                 22.942560                 13.373712
389156                 24.538797                 11.815942
389157                 24.793222                  9.396616
389158                 24.454691                  7.867715
389159                 24.261331                  7.394861

        min_temperature_2m_C_mean  min_temperature_2m_C_min  Year  Month  \
0                        7.102391                  7.036325  1961      1
1                        7.959463                  7.953989  1961      2
2                        8.673110                  8.564874  1961      3
3                       11.319749                 10.990823  1961      4
4                       13.309290                 12.897760  1961      5
...                           ...                       ...   ...    ...
389155                  12.247930                 10.294611  1990      8
389156                  10.661619                  9.428979  1990      9
389157                   7.595113                  6.086252  1990     10
389158                   5.829707                  4.162637  1990     11
389159                   5.357097                  3.453455  1990     12

          Tehsil
0       Adigudom
1       Adigudom
2       Adigudom
3       Adigudom
4       Adigudom
...          ...
389155     Samre
389156     Samre
389157     Samre
389158     Samre
389159     Samre

[389160 rows x 9 columns]

In [4]:
# Get and print unique Tehsils and their count
unique_tehsils = df['Tehsil'].unique()
print("Unique Tehsils:", unique_tehsils)
print("Number of unique Tehsils:", len(unique_tehsils))

Unique Tehsils: ['Adigudom' 'Wajirat' 'Mekelle' ... 'Degua Temben' 'Hagere Selam town'
 'Samre']
Number of unique Tehsils: 1081

In [18]:
temp_2005.rename(columns={'DHSCLUST': 'CLUSTER NUMBER'}, inplace=True)

In [5]:
import pandas as pd

# Assuming df is already loaded and contains the relevant columns
# df = pd.read_csv('path_to_your_merged_csv.csv')

# Group by 'Tehsil' and calculate the 90th percentile of 'max_temperature_2m_C_max' for each Tehsil
percentiles_df = df.groupby('Tehsil')['max_temperature_2m_C_max'].quantile(0.9).reset_index()

# Rename the column for clarity
percentiles_df.rename(columns={'max_temperature_2m_C_max': 'TXin90'}, inplace=True)

# Display the resulting DataFrame with 90th percentiles for each Tehsil
print(percentiles_df)

           Tehsil     TXin90
0       Aba-Korow  37.107578
1          Abaala  36.929326
2     Abaala town  34.200069
3           Ababo  36.537358
4          Abadir  29.186766
...           ...        ...
1076         Zata  32.114009
1077         Zayi  38.332903
1078      Zequala  35.683473
1079        Zigem  32.127328
1080  Ziway Dugda  30.516240

[1081 rows x 2 columns]

**Merge All Clusters**

In [6]:
import pandas as pd
import glob
import os

# Set the source folder path and the output file path
source_folder = '/content/drive/MyDrive/3Cs/Cluster_Level_Temperature'
output_file = '/content/drive/MyDrive/3Cs/Cluster_Level_Temperature/cluster_merged.csv'

# Get all CSV file paths from the source folder
all_files = glob.glob(os.path.join(source_folder, "*.csv"))

# Read and concatenate all CSV files
df2 = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)

# Save the merged DataFrame to a new CSV file
df2.to_csv(output_file, index=False)

# Remove duplicate records for each 'CLUSTER NUMBER', 'ADM3_EN', 'YEAR' combination
df2 = df2.drop_duplicates(subset=['CLUSTER NUMBER', 'ADM3_EN', 'YEAR'])
print(df2)
# Save the cleaned DataFrame to a new CSV file
df2.to_csv(output_file, index=False)

        CLUSTER NUMBER           ADM3_EN    YEAR  Unnamed: 0  WSDI     TXin90  \
0                  1.0       Jabi Tehnan  2005.0         NaN   NaN        NaN
4                  2.0              Bole  2005.0         NaN   NaN        NaN
19                 3.0            Aboker  2005.0         NaN   NaN        NaN
24                 4.0        Kebribeyah  2005.0         NaN   NaN        NaN
26                 5.0        Bilidigilu  2005.0         NaN   NaN        NaN
...                ...               ...     ...         ...   ...        ...
119550             NaN          Zabagazo     NaN      1072.0   NaN  34.423631
119551             NaN              Zala     NaN      1073.0   NaN  33.416850
119552             NaN  Zala Anbesa town     NaN      1074.0   NaN  28.202777
119556             NaN           Zequala     NaN      1078.0   NaN  35.683473
119557             NaN             Zigem     NaN      1079.0   NaN  32.127328

        Avg_WSDI
0            NaN
4            NaN
19           NaN
24           NaN
26           NaN
...          ...
119550       NaN
119551       NaN
119552       NaN
119556       NaN
119557       NaN

[2853 rows x 7 columns]

In [7]:
print(df2.columns)

Index(['CLUSTER NUMBER', 'ADM3_EN', 'YEAR', 'Unnamed: 0', 'WSDI', 'TXin90',
       'Avg_WSDI'],
      dtype='object')

In [8]:
print(df.columns)

Index(['max_temperature_2m_C_max', 'max_temperature_2m_C_mean',
       'max_temperature_2m_C_min', 'min_temperature_2m_C_max',
       'min_temperature_2m_C_mean', 'min_temperature_2m_C_min', 'Year',
       'Month', 'Tehsil'],
      dtype='object')

In [9]:
# Rename 'Tehsil' to 'ADM3_EN'
df.rename(columns={'Tehsil': 'ADM3_EN'}, inplace=True)

# Optionally, print the updated DataFrame columns to verify the change
print(df.columns)

Index(['max_temperature_2m_C_max', 'max_temperature_2m_C_mean',
       'max_temperature_2m_C_min', 'min_temperature_2m_C_max',
       'min_temperature_2m_C_mean', 'min_temperature_2m_C_min', 'Year',
       'Month', 'ADM3_EN'],
      dtype='object')

In [10]:
import pandas as pd

# Assuming df is already loaded and contains the relevant columns
# df = pd.read_csv('path_to_your_merged_csv.csv')

# Group by 'Tehsil' and calculate the 90th percentile of 'max_temperature_2m_C_max' for each Tehsil
percentiles_df = df.groupby('ADM3_EN')['max_temperature_2m_C_max'].quantile(0.9).reset_index()

# Rename the column for clarity
percentiles_df.rename(columns={'max_temperature_2m_C_max': 'TXin90'}, inplace=True)

# Display the resulting DataFrame with 90th percentiles for each Tehsil
print(percentiles_df)

          ADM3_EN     TXin90
0       Aba-Korow  37.107578
1          Abaala  36.929326
2     Abaala town  34.200069
3           Ababo  36.537358
4          Abadir  29.186766
...           ...        ...
1076         Zata  32.114009
1077         Zayi  38.332903
1078      Zequala  35.683473
1079        Zigem  32.127328
1080  Ziway Dugda  30.516240

[1081 rows x 2 columns]

In [11]:
import pandas as pd

# Assuming temp_2005 is already defined

# Convert the 'date' column to datetime format if it isn't already
temp_2005['date'] = pd.to_datetime(temp_2005['date'], errors='coerce')

# Add the 'year' column with value 2005 for dates between 2001 and 2005
temp_2005['YEAR'] = temp_2005['date'].apply(lambda x: 2005 if (x.year >= 2001 and x.year <= 2005) else None)

# Display the updated DataFrame
print(temp_2005)

             date  temperature_2m_max  DHSCLUST  year  YEAR
0      2001-01-01          296.524124       1.0  2001  2005
1      2001-01-02          296.603348       1.0  2001  2005
2      2001-01-03          296.310623       1.0  2001  2005
3      2001-01-04          295.855881       1.0  2001  2005
4      2001-01-05          295.360977       1.0  2001  2005
...           ...                 ...       ...   ...   ...
963595 2005-12-26          303.939377     540.0  2005  2005
963596 2005-12-27          304.257431     540.0  2005  2005
963597 2005-12-28          303.807373     540.0  2005  2005
963598 2005-12-29          304.270325     540.0  2005  2005
963599 2005-12-30          303.942047     540.0  2005  2005

[963600 rows x 5 columns]

In [12]:
print(df2)

        CLUSTER NUMBER           ADM3_EN    YEAR  Unnamed: 0  WSDI     TXin90  \
0                  1.0       Jabi Tehnan  2005.0         NaN   NaN        NaN
4                  2.0              Bole  2005.0         NaN   NaN        NaN
19                 3.0            Aboker  2005.0         NaN   NaN        NaN
24                 4.0        Kebribeyah  2005.0         NaN   NaN        NaN
26                 5.0        Bilidigilu  2005.0         NaN   NaN        NaN
...                ...               ...     ...         ...   ...        ...
119550             NaN          Zabagazo     NaN      1072.0   NaN  34.423631
119551             NaN              Zala     NaN      1073.0   NaN  33.416850
119552             NaN  Zala Anbesa town     NaN      1074.0   NaN  28.202777
119556             NaN           Zequala     NaN      1078.0   NaN  35.683473
119557             NaN             Zigem     NaN      1079.0   NaN  32.127328

        Avg_WSDI
0            NaN
4            NaN
19           NaN
24           NaN
26           NaN
...          ...
119550       NaN
119551       NaN
119552       NaN
119556       NaN
119557       NaN

[2853 rows x 7 columns]

In [19]:
temp_2005 = temp_2005.merge(df2[['CLUSTER NUMBER', 'YEAR', 'ADM3_EN']],
                              left_on=['CLUSTER NUMBER', 'YEAR'],
                              right_on=['CLUSTER NUMBER', 'YEAR'],
                              how='left')

# Display the updated DataFrame
print(temp_2005)

             date  temperature_2m_max  CLUSTER NUMBER  year  YEAR      ADM3_EN
0      2001-01-01          296.524124             1.0  2001  2005  Jabi Tehnan
1      2001-01-02          296.603348             1.0  2001  2005  Jabi Tehnan
2      2001-01-03          296.310623             1.0  2001  2005  Jabi Tehnan
3      2001-01-04          295.855881             1.0  2001  2005  Jabi Tehnan
4      2001-01-05          295.360977             1.0  2001  2005  Jabi Tehnan
...           ...                 ...             ...   ...   ...          ...
963595 2005-12-26          303.939377           540.0  2005  2005  Adi Hageray
963596 2005-12-27          304.257431           540.0  2005  2005  Adi Hageray
963597 2005-12-28          303.807373           540.0  2005  2005  Adi Hageray
963598 2005-12-29          304.270325           540.0  2005  2005  Adi Hageray
963599 2005-12-30          303.942047           540.0  2005  2005  Adi Hageray

[963600 rows x 6 columns]

In [14]:
percentiles_df.rename(columns={'Tehsil': 'ADM3_EN'}, inplace=True)

In [20]:
merged_df2 = temp_2005.merge(percentiles_df, on='ADM3_EN')

In [21]:
import pandas as pd

# Assuming percentile_df and temp_2016 are already defined

# Step 1: Merge DataFrames
merged_df2 = temp_2005.merge(percentiles_df, on='ADM3_EN')

# Step 2: Create a boolean column for warm spells
# Convert temperature from Kelvin to Celsius if necessary
merged_df2['temperature_2m_max_C'] = merged_df2['temperature_2m_max'] - 273.15  # Convert from Kelvin to Celsius
merged_df2['is_warm_spell'] = merged_df2['temperature_2m_max_C'] > merged_df2['TXin90']

# Step 3: Calculate WSDI for each ADM3_EN and CLUSTER NUMBER
def calculate_wsdi(group):
    group = group.copy()
    group['consecutive'] = (group['is_warm_spell'] != group['is_warm_spell'].shift()).cumsum()
    warm_spells = group[group['is_warm_spell']].groupby('consecutive').filter(lambda x: len(x) >= 6)
    return warm_spells['is_warm_spell'].count() // 6  # Return the count of warm spells (6 days)

# Calculate WSDI for each ADM3_EN and CLUSTER NUMBER
wsdi_cluster_df = merged_df2.groupby(['ADM3_EN', 'CLUSTER NUMBER']).apply(calculate_wsdi).reset_index(name='WSDI')

# Step 4: Calculate the average WSDI for each ADM3_EN across clusters
wsdi_avg_df = wsdi_cluster_df.groupby('ADM3_EN')['WSDI'].mean().reset_index(name='Avg_WSDI')

# Display the result
print(wsdi_avg_df)

           ADM3_EN  Avg_WSDI
0           Abaala  0.000000
1           Abadir  0.357143
2      Abay Chomen  0.000000
3    Abergele (AM)  0.000000
4    Abergele (TG)  2.000000
..             ...       ...
335           Yeka  0.000000
336  Yem SP Woreda  1.000000
337  Yilmana Densa  0.000000
338     Yirgachefe  0.000000
339           Zana  0.000000

[340 rows x 2 columns]

<ipython-input-21-a8a91606d3d8>:21: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  wsdi_cluster_df = merged_df2.groupby(['ADM3_EN', 'CLUSTER NUMBER']).apply(calculate_wsdi).reset_index(name='WSDI')

In [23]:
#wsdi_cluster_df = merged_df2.groupby(['ADM3_EN', 'CLUSTER NUMBER']).apply(calculate_wsdi).reset_index(name='WSDI')
wsdi_cluster_df.to_csv('/content/drive/MyDrive/3Cs/Cluster_Level_Temperature/WSDI_2005_cluster.csv')
wsdi_avg_df.to_csv('/content/drive/MyDrive/3Cs/Cluster_Level_Temperature/WSDI_2005.csv')

In [40]:
# Step 1: Count unique ADM3_EN in temp_2005
unique_adm3_en_count = temp_2005['ADM3_EN'].nunique()

# Step 2: Create a DataFrame for merging
unique_count_df = pd.DataFrame({'Unique_ADM3_EN_Count': [unique_adm3_en_count]})

print(unique_count_df)

   Unique_ADM3_EN_Count
0                   340

**For 2011**

In [24]:
temp_2011=[]

In [25]:
import pandas as pd
import glob
import os

temp_2011= pd.read_csv('/content/drive/MyDrive/Temperature Data/ERA5/daily_max_2006_2011.csv')
print(temp_2011)

               date  temperature_2m_max  DHSCLUST  year
0        2006-01-01          295.537338       1.0  2006
1        2006-01-02          295.861145       1.0  2006
2        2006-01-03          296.207932       1.0  2006
3        2006-01-04          295.939468       1.0  2006
4        2006-01-05          295.174927       1.0  2006
...             ...                 ...       ...   ...
1250485  2011-12-26          304.327515     650.0  2011
1250486  2011-12-27          304.427567     650.0  2011
1250487  2011-12-28          304.338684     650.0  2011
1250488  2011-12-29          304.478592     650.0  2011
1250489  2011-12-30          304.398361     650.0  2011

[1250490 rows x 4 columns]

In [26]:
import pandas as pd

# Assuming temp_2005 is already defined

# Convert the 'date' column to datetime format if it isn't already
temp_2011['date'] = pd.to_datetime(temp_2011['date'], errors='coerce')

# Add the 'year' column with value 2005 for dates between 2001 and 2005
temp_2011['YEAR'] = temp_2011['date'].apply(lambda x: 2011 if (x.year >= 2006 and x.year <= 2011) else None)
temp_2011.rename(columns={'DHSCLUST': 'CLUSTER NUMBER'}, inplace=True)
# Display the updated DataFrame
print(temp_2011)

              date  temperature_2m_max  CLUSTER NUMBER  year  YEAR
0       2006-01-01          295.537338             1.0  2006  2011
1       2006-01-02          295.861145             1.0  2006  2011
2       2006-01-03          296.207932             1.0  2006  2011
3       2006-01-04          295.939468             1.0  2006  2011
4       2006-01-05          295.174927             1.0  2006  2011
...            ...                 ...             ...   ...   ...
1250485 2011-12-26          304.327515           650.0  2011  2011
1250486 2011-12-27          304.427567           650.0  2011  2011
1250487 2011-12-28          304.338684           650.0  2011  2011
1250488 2011-12-29          304.478592           650.0  2011  2011
1250489 2011-12-30          304.398361           650.0  2011  2011

[1250490 rows x 5 columns]

In [27]:
temp_2011 = temp_2011.merge(df2[['CLUSTER NUMBER', 'YEAR', 'ADM3_EN']],
                              left_on=['CLUSTER NUMBER', 'YEAR'],
                              right_on=['CLUSTER NUMBER', 'YEAR'],
                              how='left')

# Display the updated DataFrame
print(temp_2011)

              date  temperature_2m_max  CLUSTER NUMBER  year  YEAR  \
0       2006-01-01          295.537338             1.0  2006  2011
1       2006-01-02          295.861145             1.0  2006  2011
2       2006-01-03          296.207932             1.0  2006  2011
3       2006-01-04          295.939468             1.0  2006  2011
4       2006-01-05          295.174927             1.0  2006  2011
...            ...                 ...             ...   ...   ...
1250485 2011-12-26          304.327515           650.0  2011  2011
1250486 2011-12-27          304.427567           650.0  2011  2011
1250487 2011-12-28          304.338684           650.0  2011  2011
1250488 2011-12-29          304.478592           650.0  2011  2011
1250489 2011-12-30          304.398361           650.0  2011  2011

                    ADM3_EN
0        Menze Keya Gabriel
1        Menze Keya Gabriel
2        Menze Keya Gabriel
3        Menze Keya Gabriel
4        Menze Keya Gabriel
...                     ...
1250485         Adi Hageray
1250486         Adi Hageray
1250487         Adi Hageray
1250488         Adi Hageray
1250489         Adi Hageray

[1250490 rows x 6 columns]

In [28]:
print(df2)

        CLUSTER NUMBER           ADM3_EN    YEAR  Unnamed: 0  WSDI     TXin90  \
0                  1.0       Jabi Tehnan  2005.0         NaN   NaN        NaN
4                  2.0              Bole  2005.0         NaN   NaN        NaN
19                 3.0            Aboker  2005.0         NaN   NaN        NaN
24                 4.0        Kebribeyah  2005.0         NaN   NaN        NaN
26                 5.0        Bilidigilu  2005.0         NaN   NaN        NaN
...                ...               ...     ...         ...   ...        ...
119550             NaN          Zabagazo     NaN      1072.0   NaN  34.423631
119551             NaN              Zala     NaN      1073.0   NaN  33.416850
119552             NaN  Zala Anbesa town     NaN      1074.0   NaN  28.202777
119556             NaN           Zequala     NaN      1078.0   NaN  35.683473
119557             NaN             Zigem     NaN      1079.0   NaN  32.127328

        Avg_WSDI
0            NaN
4            NaN
19           NaN
24           NaN
26           NaN
...          ...
119550       NaN
119551       NaN
119552       NaN
119556       NaN
119557       NaN

[2853 rows x 7 columns]

In [29]:
# Merge the DataFrames
temp_2011 = temp_2011.merge(df2[['CLUSTER NUMBER', 'YEAR', 'ADM3_EN']],
                            on=['CLUSTER NUMBER', 'YEAR'],
                            how='left')

# Drop one of the ADM3_EN columns and rename if needed
temp_2011['ADM3_EN'] = temp_2011['ADM3_EN_y']  # Retain ADM3_EN_y as ADM3_EN
temp_2011 = temp_2011.drop(columns=['ADM3_EN_x', 'ADM3_EN_y'])  # Drop duplicates

# Display the updated DataFrame
print(temp_2011)

              date  temperature_2m_max  CLUSTER NUMBER  year  YEAR  \
0       2006-01-01          295.537338             1.0  2006  2011
1       2006-01-02          295.861145             1.0  2006  2011
2       2006-01-03          296.207932             1.0  2006  2011
3       2006-01-04          295.939468             1.0  2006  2011
4       2006-01-05          295.174927             1.0  2006  2011
...            ...                 ...             ...   ...   ...
1250485 2011-12-26          304.327515           650.0  2011  2011
1250486 2011-12-27          304.427567           650.0  2011  2011
1250487 2011-12-28          304.338684           650.0  2011  2011
1250488 2011-12-29          304.478592           650.0  2011  2011
1250489 2011-12-30          304.398361           650.0  2011  2011

                    ADM3_EN
0        Menze Keya Gabriel
1        Menze Keya Gabriel
2        Menze Keya Gabriel
3        Menze Keya Gabriel
4        Menze Keya Gabriel
...                     ...
1250485         Adi Hageray
1250486         Adi Hageray
1250487         Adi Hageray
1250488         Adi Hageray
1250489         Adi Hageray

[1250490 rows x 6 columns]

In [31]:
import pandas as pd

# Assuming percentile_df and temp_2016 are already defined

# Step 1: Merge DataFrames
merged_df2 = temp_2011.merge(percentiles_df, on='ADM3_EN')

# Step 2: Create a boolean column for warm spells
# Convert temperature from Kelvin to Celsius if necessary
merged_df2['temperature_2m_max_C'] = merged_df2['temperature_2m_max'] - 273.15  # Convert from Kelvin to Celsius
merged_df2['is_warm_spell'] = merged_df2['temperature_2m_max_C'] > merged_df2['TXin90']

# Step 3: Calculate WSDI for each ADM3_EN and CLUSTER NUMBER
def calculate_wsdi(group):
    group = group.copy()
    group['consecutive'] = (group['is_warm_spell'] != group['is_warm_spell'].shift()).cumsum()
    warm_spells = group[group['is_warm_spell']].groupby('consecutive').filter(lambda x: len(x) >= 6)
    return warm_spells['is_warm_spell'].count() // 6  # Return the count of warm spells (6 days)

# Calculate WSDI for each ADM3_EN and CLUSTER NUMBER
wsdi_cluster_df = merged_df2.groupby(['ADM3_EN', 'CLUSTER NUMBER']).apply(calculate_wsdi).reset_index(name='WSDI')

# Step 4: Calculate the average WSDI for each ADM3_EN across clusters
wsdi_avg_df = wsdi_cluster_df.groupby('ADM3_EN')['WSDI'].mean().reset_index(name='Avg_WSDI')

# Display the result
print(wsdi_avg_df)

           ADM3_EN   Avg_WSDI
0           Abaala   0.000000
1           Abadir   0.428571
2      Abela Abaya  11.000000
3    Abergele (AM)   0.000000
4    Abergele (TG)   0.000000
..             ...        ...
360     Yirgachefe   0.000000
361           Zana   0.000000
362           Zata   0.000000
363           Zayi   0.000000
364    Ziway Dugda   0.000000

[365 rows x 2 columns]

<ipython-input-31-d391b893169e>:21: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  wsdi_cluster_df = merged_df2.groupby(['ADM3_EN', 'CLUSTER NUMBER']).apply(calculate_wsdi).reset_index(name='WSDI')

In [34]:
wsdi_cluster_df.to_csv ('/content/drive/MyDrive/3Cs/Cluster_Level_Temperature/WSDI_2011_cluster.csv')
wsdi_avg_df.to_csv('/content/drive/MyDrive/3Cs/Cluster_Level_Temperature/WSDI_2011.csv')

**for 2016**

In [35]:
temp_2016= pd.read_csv('/content/drive/MyDrive/Temperature Data/ERA5/daily_max_2012_2016.csv')

temp_2016['date'] = pd.to_datetime(temp_2016['date'], errors='coerce')
print(temp_2016)

              date  temperature_2m_max  DHSCLUST  year
0       2012-01-01          297.068008       1.0  2012
1       2012-01-02          296.833984       1.0  2012
2       2012-01-03          295.381897       1.0  2012
3       2012-01-04          295.793701       1.0  2012
4       2012-01-05          296.631104       1.0  2012
...            ...                 ...       ...   ...
1135767 2016-12-26          295.459503     645.0  2016
1135768 2016-12-27          295.191681     645.0  2016
1135769 2016-12-28          294.915085     645.0  2016
1135770 2016-12-29          295.355667     645.0  2016
1135771 2016-12-30          295.054977     645.0  2016

[1135772 rows x 4 columns]

In [36]:
temp_2016['YEAR'] = temp_2016['date'].apply(lambda x: 2016 if (x.year >= 2012 and x.year <= 2016) else None)
temp_2016.rename(columns={'DHSCLUST': 'CLUSTER NUMBER'}, inplace=True)
# Display the updated DataFrame
print(temp_2016)

              date  temperature_2m_max  CLUSTER NUMBER  year  YEAR
0       2012-01-01          297.068008             1.0  2012  2016
1       2012-01-02          296.833984             1.0  2012  2016
2       2012-01-03          295.381897             1.0  2012  2016
3       2012-01-04          295.793701             1.0  2012  2016
4       2012-01-05          296.631104             1.0  2012  2016
...            ...                 ...             ...   ...   ...
1135767 2016-12-26          295.459503           645.0  2016  2016
1135768 2016-12-27          295.191681           645.0  2016  2016
1135769 2016-12-28          294.915085           645.0  2016  2016
1135770 2016-12-29          295.355667           645.0  2016  2016
1135771 2016-12-30          295.054977           645.0  2016  2016

[1135772 rows x 5 columns]

In [37]:
# Merge the DataFrames
temp_2016 = temp_2016.merge(df2[['CLUSTER NUMBER', 'YEAR', 'ADM3_EN']],
                            on=['CLUSTER NUMBER', 'YEAR'],
                            how='left')

# # Drop one of the ADM3_EN columns and rename if needed
# temp_2016['ADM3_EN'] = temp_2016['ADM3_EN_y']  # Retain ADM3_EN_y as ADM3_EN
# temp_2016 = temp_2016.drop(columns=['ADM3_EN_x', 'ADM3_EN_y'])  # Drop duplicates

# Display the updated DataFrame
print(temp_2016)

              date  temperature_2m_max  CLUSTER NUMBER  year  YEAR  \
0       2012-01-01          297.068008             1.0  2012  2016
1       2012-01-02          296.833984             1.0  2012  2016
2       2012-01-03          295.381897             1.0  2012  2016
3       2012-01-04          295.793701             1.0  2012  2016
4       2012-01-05          296.631104             1.0  2012  2016
...            ...                 ...             ...   ...   ...
1135767 2016-12-26          295.459503           645.0  2016  2016
1135768 2016-12-27          295.191681           645.0  2016  2016
1135769 2016-12-28          294.915085           645.0  2016  2016
1135770 2016-12-29          295.355667           645.0  2016  2016
1135771 2016-12-30          295.054977           645.0  2016  2016

                ADM3_EN
0           Gursum (OR)
1           Gursum (OR)
2           Gursum (OR)
3           Gursum (OR)
4           Gursum (OR)
...                 ...
1135767  Kolfe Keraniyo
1135768  Kolfe Keraniyo
1135769  Kolfe Keraniyo
1135770  Kolfe Keraniyo
1135771  Kolfe Keraniyo

[1135772 rows x 6 columns]

In [38]:
import pandas as pd

# Assuming percentile_df and temp_2016 are already defined

# Step 1: Merge DataFrames
merged_df2 = temp_2016.merge(percentiles_df, on='ADM3_EN')

# Step 2: Create a boolean column for warm spells
# Convert temperature from Kelvin to Celsius if necessary
merged_df2['temperature_2m_max_C'] = merged_df2['temperature_2m_max'] - 273.15  # Convert from Kelvin to Celsius
merged_df2['is_warm_spell'] = merged_df2['temperature_2m_max_C'] > merged_df2['TXin90']

# Step 3: Calculate WSDI for each ADM3_EN and CLUSTER NUMBER
def calculate_wsdi(group):
    group = group.copy()
    group['consecutive'] = (group['is_warm_spell'] != group['is_warm_spell'].shift()).cumsum()
    warm_spells = group[group['is_warm_spell']].groupby('consecutive').filter(lambda x: len(x) >= 6)
    return warm_spells['is_warm_spell'].count() // 6  # Return the count of warm spells (6 days)

# Calculate WSDI for each ADM3_EN and CLUSTER NUMBER
wsdi_cluster_df = merged_df2.groupby(['ADM3_EN', 'CLUSTER NUMBER']).apply(calculate_wsdi).reset_index(name='WSDI')

# Step 4: Calculate the average WSDI for each ADM3_EN across clusters
wsdi_avg_df = wsdi_cluster_df.groupby('ADM3_EN')['WSDI'].mean().reset_index(name='Avg_WSDI')

# Display the result
print(wsdi_avg_df)

         ADM3_EN   Avg_WSDI
0      Aba-Korow   3.000000
1         Abaala   0.000000
2    Abaala town   0.000000
3         Abadir   0.391304
4          Abobo   0.000000
..           ...        ...
377     Zabagazo   0.000000
378         Zala  10.000000
379         Zata   0.000000
380         Zayi   1.000000
381  Ziway Dugda   0.000000

[382 rows x 2 columns]

<ipython-input-38-3233ef474f1f>:21: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  wsdi_cluster_df = merged_df2.groupby(['ADM3_EN', 'CLUSTER NUMBER']).apply(calculate_wsdi).reset_index(name='WSDI')

In [39]:
wsdi_cluster_df.to_csv('/content/drive/MyDrive/3Cs/Cluster_Level_Temperature/WSDI_2016_cluster.csv')
wsdi_avg_df.to_csv('/content/drive/MyDrive/3Cs/Cluster_Level_Temperature/WSDI_2016.csv')

In [81]:
percentiles_df.to_csv('/content/drive/MyDrive/3Cs/Cluster_Level_Temperature/percentiles_df.csv')

In [80]:
print (percentiles_df)

          ADM3_EN     TXin90
0       Aba-Korow  37.107578
1          Abaala  36.929326
2     Abaala town  34.200069
3           Ababo  36.537358
4          Abadir  29.186766
...           ...        ...
1076         Zata  32.114009
1077         Zayi  38.332903
1078      Zequala  35.683473
1079        Zigem  32.127328
1080  Ziway Dugda  30.516240

[1081 rows x 2 columns]